.chat-message {
  margin: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 40%;
  min-width: 200px;
}

.chatMessage_userImage {
  margin-right: 9px;
  margin-top: 5px;
  align-self: flex-start;
}

.chatMessage_userImage > img {
  width: 35px;
  border-radius: 50%;
}

.message_container {
  width: 100%;
  height: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
  margin-right: 10px;
  justify-content: space-between;

  position: relative;
}

.message {
  width: 100%;
  margin-bottom: 20px;
}

.message > p {
  margin-top: -2px;
  width: 100%;
  word-break: break-all;
}

.message__date {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11px;
}

/* .media__grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 150px;
  grid-gap: 10px;
} */
