.messenger_sidebar {
  display: flex;
  flex-direction: column;

  height: 95%;
  width: 270px;
  align-items: center;
  background: radial-gradient(
    81.72% 81.72% at 15.75% 12.31%,
    rgba(255, 255, 255, 0.49) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.ms-UserProfile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95%;
  height: 70px;
  min-height: 60px;
  border-radius: 10px;
  margin-top: 15px;
}

.ms-profile-img {
  width: 40px;
  height: 40px;
}

.ms-profile-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ms-profile-info {
  margin-left: 8px;
}

.ms-profile-fullname {
  font-size: 16px;
}
.ms-profile-username {
  font-size: 10px;
  margin-top: -15px;
}

.ms-profile-dropdown {
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.ms_searchBar {
  margin-top: 15px;
  width: 90%;
}
.ms_searchBar > input {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 13px;

  background-color: transparent;
  border: 2px solid white;
}

.ms_searchBar > input::placeholder {
  color: black;
}

.ms_friendlist {
  flex: 1;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: scroll;
}

.ms_friendlist::-webkit-scrollbar {
  width: 2px;
}
