.post_container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 99.5%;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.post_user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.post_userImage {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.post_userImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post_userFullName {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
}

.post_description {
  align-self: center;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post_description > p {
  height: fit-content;
  margin-bottom: 20px;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  word-break: break-all;
  width: 100%;
  line-break: strict;
}

.post_options {
  width: 85%;
  display: flex;
  height: 33px;
  align-items: center;

  align-self: center;
}

.option_section {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.option_section > img {
  width: 18px;
  margin-right: 8px;
  cursor: pointer;
}

.option_section > p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #6d6d6d;
}
.recent_comment {
  width: 85%;
  align-self: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.commentDialog_post {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 10px;

  border-bottom: 1px solid lightgray;
}
.dialog_post_user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dialog_post_user_image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.dialog_post_user_image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.commentDialog_post_user_info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.commentDialog_post_userFullname {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.commentDialog_post_userName {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none solid rgb(91, 112, 131);
  white-space: nowrap;
  font-weight: 500;
  word-spacing: 0px;
  margin-top: -13px !important;

  color: gray;
}

.commentDialog_post_description {
  width: 80%;

  align-self: center;
  margin-bottom: 20px;
  margin-left: 20px;

  height: fit-content;
  display: flex;
  word-break: break-all;
  line-break: strict;
  flex-direction: column;
  align-items: flex-start;
}

.commentDialog_post_description > pre {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.commentDialog_post_description
  .media__carousel
  .carousel
  .carousel-control-prev {
  left: -30px !important;
  top: 70px !important;
}
.commentDialog_post_description
  .media__carousel
  .carousel
  .carousel-control-next {
  right: -30px !important;
  top: 70px !important;
}

.commentDialog__comment {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.commentDialog_currentUserImage {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.commentDialog_currentUserImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.commentDialog_commentInput {
  width: 80%;
  height: 90%;
  /* overflow-y: scroll; */
}

.commentDialog_commentInput::-webkit-scrollbar {
  width: 5px;
}

.commentDialog_commentInput > textarea {
  outline: none;
  margin-top: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 15px !important;
  width: 100%;
  border: none;
  resize: none;
}

.commentDialog_commentOptions {
  display: flex;
  margin-top: 20px;

  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.commentDialog_options_container > img {
  margin-left: 10px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.commentDialog_commentReplybtn > button {
  width: 75px;
  height: 27px;
  background: #72bbff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.post__media__file {
  display: grid;

  grid-template-columns: repeat(2, minmax(120px, 37%));
  grid-template-rows: minmax(120px, 48%);

  grid-gap: 10px;
  align-self: center;

  align-items: center;
  justify-content: center;
  width: 100%;
}

.post__media__file::-webkit-scrollbar {
}

.media__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

.media__container > img {
  width: 100%;
  height: 100%;
}
.media__container > video {
  width: 100%;
  height: 100% !important;
  max-height: 200px;
  min-height: 120px;
}
.carousel-control-next,
.carousel-control-prev {
  height: 100px !important;
  top: 100px !important;
  background-color: gray;
}

.carousel-control-prev {
  left: -45px !important;
}

.carousel-control-next {
  right: -45px !important;
}

.carousel-item {
  margin-right: 30px !important;
}
