.suggestion {
  width: 308px;
  height: 95%;
  margin-left: 30px;
  border-radius: 15px;
}
.suggestion-glass {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border: 4.68px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(28.08px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

.suggestion-glass > p {
  width: 80px;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.suggestion_title {
  width: 100%;

  color: #000000;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.suggestion_title > p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 10px;
}

.FriendsList {
  overflow-y: scroll;
  flex: 1;
}
.FriendsList::-webkit-scrollbar {
  width: 3px;
}
